body{
    background-image: url("image/image_2.jpg");
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
.main{
    background-color: rgb(244, 255, 244, 0.9);
    width: 50%;
    margin-left: 25%;
    border-radius: 10%;
}
.botton{
    margin-top: 5%;
    margin-bottom: 5%;
}